body {
    background: url('../images/timeofangels.jpg') center center;
    background-size:cover;
    font-family:'helvetica neue';
    text-align: center;
    font-size: 10px;
    margin-top: 0px;
    font-size: 2rem;
    display:flex;
    flex:1;
    min-height: 100vh;
    align-items: center;
    }

.myClock {
  margin-top: 10px;
}

.container {
  margin-top: 10px;

}

.title {
  font-family: 'Fjalla One', sans-serif;
  padding-top: 10px;
  margin-top: -60px;
  color: black;
  font-size: 60px;
  text-align: center;
}

.tag-line {
  padding-top: 0px;
  font-family: 'Fjalla One', sans-serif;
  margin-top: -20px;
  color: white;
  font-size: 40px;
  text-align: center;
}

.tag-line2 {
  padding-top: 0px;
  font-family: 'Fjalla One', sans-serif;
  margin-top: 10px;
  color: white;
  font-size: 40px;
  text-align: center;

}


.clock {
  width: 30rem;
  height: 30rem;
  border:20px solid black;
  border-radius:50%;
  margin:50px auto;
  position: relative;
  padding:2rem;
  box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px white,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
}


.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
    }

.hand {
  width:50%;
  height:6px;
  background:black;
  position: absolute;
  top:50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
